In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import files
uploaded = files.upload()

Saving cancer dataset.csv to cancer dataset.csv

In [3]:
can_data = pd.read_csv('cancer dataset.csv')
can_data.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [4]:
can_data['diagnosis'].unique()

array(['M', 'B'], dtype=object)

In [5]:
y = pd.get_dummies(can_data['diagnosis'], drop_first = True)
y.head

<bound method NDFrame.head of      M
0    1
1    1
2    1
3    1
4    1
..  ..
564  1
565  1
566  1
567  1
568  0

[569 rows x 1 columns]>

In [6]:
radius = can_data.iloc[: , [2,12,22]]
radius.head()

   radius_mean  radius_se  radius_worst
0        17.99     1.0950         25.38
1        20.57     0.5435         24.99
2        19.69     0.7456         23.57
3        11.42     0.4956         14.91
4        20.29     0.7572         22.54

In [7]:
print('Max radius_mean: ', radius['radius_mean'].max())
print('Min radius_mean: ', radius['radius_mean'].min())
print('Null Values in radius_mean: ', radius['radius_mean'].isnull().any())
print('\n')
print('Max radius_se: ', radius['radius_se'].max())
print('Min radius_se: ', radius['radius_se'].min())
print('Null Values in radius_se: ', radius['radius_se'].isnull().any())
print('\n')
print('Max radius_worst: ', radius['radius_worst'].max())
print('Min radius_worst: ', radius['radius_worst'].min())
print('Null Values in radius_worst: ', radius['radius_worst'].isnull().any())

Max radius_mean:  28.11
Min radius_mean:  6.981
Null Values in radius_mean:  False


Max radius_se:  2.873
Min radius_se:  0.1115
Null Values in radius_se:  False


Max radius_worst:  36.04
Min radius_worst:  7.93
Null Values in radius_worst:  False

In [8]:
# Quartiles
print('Quantiles for Radius_mean')
print('1º Quartile: ', radius['radius_mean'].quantile(q = 0.25))
print('2º Quartile: ', radius['radius_mean'].quantile(q = 0.50))
print('3º Quartile: ', radius['radius_mean'].quantile(q = 0.75))
print('4º Quartile: ', radius['radius_mean'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', radius['radius_mean'].quantile(q = 0.75) + 
                      1.5*(radius['radius_mean'].quantile(q = 0.75) - radius['radius_mean'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for Radius_se')
print('1º Quartile: ', radius['radius_se'].quantile(q = 0.25))
print('2º Quartile: ', radius['radius_se'].quantile(q = 0.50))
print('3º Quartile: ', radius['radius_se'].quantile(q = 0.75))
print('4º Quartile: ', radius['radius_se'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', radius['radius_se'].quantile(q = 0.75) + 
                      1.5*(radius['radius_se'].quantile(q = 0.75) - radius['radius_se'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for Radius_worst')
print('1º Quartile: ', radius['radius_worst'].quantile(q = 0.25))
print('2º Quartile: ', radius['radius_worst'].quantile(q = 0.50))
print('3º Quartile: ', radius['radius_worst'].quantile(q = 0.75))
print('4º Quartile: ', radius['radius_worst'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', radius['radius_worst'].quantile(q = 0.75) + 
                      1.5*(radius['radius_worst'].quantile(q = 0.75) - radius['radius_worst'].quantile(q = 0.25)), 'are outliers')

Quantiles for Radius_mean
1º Quartile:  11.7
2º Quartile:  13.37
3º Quartile:  15.78
4º Quartile:  28.11
Above:  21.9 are outliers


Quantiles for Radius_se
1º Quartile:  0.2324
2º Quartile:  0.3242
3º Quartile:  0.4789
4º Quartile:  2.873
Above:  0.84865 are outliers


Quantiles for Radius_worst
1º Quartile:  13.01
2º Quartile:  14.97
3º Quartile:  18.79
4º Quartile:  36.04
Above:  27.459999999999997 are outliers

In [0]:
#1º Quartile:  11.7
#2º Quartile:  13.37
#3º Quartile:  15.78
#4º Quartile:  28.11
#Ages above:  21.9 are outliers
#Max is 28.11
#Class 1- 25% lies below 11.7
#Class-2- 50% lies between 11.7 and 15.78
#Class-3- Rest 25% lies between 15.78 and 22
#Class-4- Above age 22 are outliers

def radius_mean(dataframe):
    dataframe.loc[dataframe['radius_mean'] <= 11.7, 'radius_mean'] = 1
    dataframe.loc[(dataframe['radius_mean'] > 11.7) & (dataframe['radius_mean'] <= 15.78), 'radius_mean'] = 2
    dataframe.loc[(dataframe['radius_mean'] > 15.78) & (dataframe['radius_mean'] <= 22), 'radius_mean'] = 3
    dataframe.loc[(dataframe['radius_mean'] > 22) & (dataframe['radius_mean'] <= 28.11), 'radius_mean'] = 4
           
    return dataframe
radius_mean(radius);

In [0]:
#1º Quartile:  13.01
#2º Quartile:  14.97
#3º Quartile:  18.79
#4º Quartile:  36.04
#Above:  27.459999999999997 are outliers
#Max is 36.04
#Class 1- 25% lies below 13.01
#Class-2- 50% lies between 13.01 and 18.79
#Class-3- Lies between 18.79 and 27.45
#Class-4- Above age 27.45 are outliers

def radius_worst(dataframe):
    dataframe.loc[dataframe['radius_worst'] <= 13.01, 'radius_worst'] = 1
    dataframe.loc[(dataframe['radius_worst'] > 13.01) & (dataframe['radius_worst'] <= 18.79), 'radius_worst'] = 2
    dataframe.loc[(dataframe['radius_worst'] > 18.79) & (dataframe['radius_worst'] <= 27.45), 'radius_worst'] = 3
    dataframe.loc[(dataframe['radius_worst'] > 27.45) & (dataframe['radius_worst'] <= 36.04), 'radius_worst'] = 4
           
    return dataframe
radius_worst(radius);

In [11]:
radius.head()

   radius_mean  radius_se  radius_worst
0          3.0     1.0950           3.0
1          3.0     0.5435           3.0
2          3.0     0.7456           3.0
3          1.0     0.4956           2.0
4          3.0     0.7572           3.0

In [12]:
texture = can_data.iloc[: , [3,13,23]]
texture.head()

   texture_mean  texture_se  texture_worst
0         10.38      0.9053          17.33
1         17.77      0.7339          23.41
2         21.25      0.7869          25.53
3         20.38      1.1560          26.50
4         14.34      0.7813          16.67

In [13]:
print('Max texture_mean: ', texture['texture_mean'].max())
print('Min texture_mean: ', texture['texture_mean'].min())
print('Null Values in texture_mean: ', texture['texture_mean'].isnull().any())
print('\n')
print('Max texture_se: ', texture['texture_se'].max())
print('Min texture_se: ', texture['texture_se'].min())
print('Null Values in texture_se: ', texture['texture_se'].isnull().any())
print('\n')
print('Max texture_worst: ', texture['texture_worst'].max())
print('Min texture_worst: ', texture['texture_worst'].min())
print('Null Values in texture_worst: ', texture['texture_worst'].isnull().any())

Max texture_mean:  39.28
Min texture_mean:  9.71
Null Values in texture_mean:  False


Max texture_se:  4.885
Min texture_se:  0.3602
Null Values in texture_se:  False


Max texture_worst:  49.54
Min texture_worst:  12.02
Null Values in texture_worst:  False

In [14]:
# Quartiles
print('Quantiles for texture_mean')
print('1º Quartile: ', texture['texture_mean'].quantile(q = 0.25))
print('2º Quartile: ', texture['texture_mean'].quantile(q = 0.50))
print('3º Quartile: ', texture['texture_mean'].quantile(q = 0.75))
print('4º Quartile: ', texture['texture_mean'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', texture['texture_mean'].quantile(q = 0.75) + 
                      1.5*(texture['texture_mean'].quantile(q = 0.75) - texture['texture_mean'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for texture_se')
print('1º Quartile: ', texture['texture_se'].quantile(q = 0.25))
print('2º Quartile: ', texture['texture_se'].quantile(q = 0.50))
print('3º Quartile: ', texture['texture_se'].quantile(q = 0.75))
print('4º Quartile: ', texture['texture_se'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', texture['texture_se'].quantile(q = 0.75) + 
                      1.5*(texture['texture_se'].quantile(q = 0.75) - texture['texture_se'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for texture_worst')
print('1º Quartile: ', texture['texture_worst'].quantile(q = 0.25))
print('2º Quartile: ', texture['texture_worst'].quantile(q = 0.50))
print('3º Quartile: ', texture['texture_worst'].quantile(q = 0.75))
print('4º Quartile: ', texture['texture_worst'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', texture['texture_worst'].quantile(q = 0.75) + 
                      1.5*(texture['texture_worst'].quantile(q = 0.75) - texture['texture_worst'].quantile(q = 0.25)), 'are outliers')

Quantiles for texture_mean
1º Quartile:  16.17
2º Quartile:  18.84
3º Quartile:  21.8
4º Quartile:  39.28
Above:  30.244999999999997 are outliers


Quantiles for texture_se
1º Quartile:  0.8339
2º Quartile:  1.1079999999999999
3º Quartile:  1.474
4º Quartile:  4.885
Above:  2.43415 are outliers


Quantiles for texture_worst
1º Quartile:  21.08
2º Quartile:  25.41
3º Quartile:  29.72
4º Quartile:  49.54
Above:  42.68 are outliers

In [0]:
#1º Quartile:  16.17
#2º Quartile:  18.84
#3º Quartile:  21.8
#4º Quartile:  39.28
#Above:  30.244999999999997 are outliers
#Max is 39.28
#Class 1- 25% lies below 16.17
#Class-2- 50% lies between 16.7 and 21.8
#Class-3- Rest 25% lies between 21.8 and 30.24
#Class-4- Above age 30.24 are outliers

def texture_mean(dataframe):
    dataframe.loc[dataframe['texture_mean'] <= 16.17, 'texture_mean'] = 1
    dataframe.loc[(dataframe['texture_mean'] > 16.17) & (dataframe['texture_mean'] <= 21.8), 'texture_mean'] = 2
    dataframe.loc[(dataframe['texture_mean'] > 21.8) & (dataframe['texture_mean'] <= 30.24), 'texture_mean'] = 3
    dataframe.loc[(dataframe['texture_mean'] > 30.24) & (dataframe['texture_mean'] <= 39.28), 'texture_mean'] = 4
           
    return dataframe
texture_mean(texture);

In [0]:
#1º Quartile:  21.08
#2º Quartile:  25.41
#3º Quartile:  29.72
#4º Quartile:  49.54
#Above:  42.68 are outliers
#Max is 49.54
#Class 1- 25% lies below 21.08
#Class-2- 50% lies between 21.08 and 29.72
#Class-3- Lies between 29.72 and 42.68
#Class-4- Above age 42.68 are outliers

def texture_worst(dataframe):
    dataframe.loc[dataframe['texture_worst'] <= 21.08, 'texture_worst'] = 1
    dataframe.loc[(dataframe['texture_worst'] > 21.08) & (dataframe['texture_worst'] <= 29.72), 'texture_worst'] = 2
    dataframe.loc[(dataframe['texture_worst'] > 29.72) & (dataframe['texture_worst'] <= 42.68), 'texture_worst'] = 3
    dataframe.loc[(dataframe['texture_worst'] > 42.68) & (dataframe['texture_worst'] <= 49.54), 'texture_worst'] = 4
           
    return dataframe
texture_worst(texture);

In [17]:
texture.head()

   texture_mean  texture_se  texture_worst
0           1.0      0.9053            1.0
1           2.0      0.7339            2.0
2           2.0      0.7869            2.0
3           2.0      1.1560            2.0
4           1.0      0.7813            1.0

In [18]:
perimeter = can_data.iloc[: , [4,14,24]]
perimeter.head()

   perimeter_mean  perimeter_se  perimeter_worst
0          122.80         8.589           184.60
1          132.90         3.398           158.80
2          130.00         4.585           152.50
3           77.58         3.445            98.87
4          135.10         5.438           152.20

In [19]:
print('Max perimeter_mean: ', perimeter['perimeter_mean'].max())
print('Min perimeter_mean: ', perimeter['perimeter_mean'].min())
print('Null Values in perimeter_mean: ', perimeter['perimeter_mean'].isnull().any())
print('\n')
print('Max perimeter_se: ', perimeter['perimeter_se'].max())
print('Min perimeter_se: ', perimeter['perimeter_se'].min())
print('Null Values in perimeter_se: ', perimeter['perimeter_se'].isnull().any())
print('\n')
print('Max perimeter_worst: ', perimeter['perimeter_worst'].max())
print('Min perimeter_worst: ', perimeter['perimeter_worst'].min())
print('Null Values in perimeter_worst: ', perimeter['perimeter_worst'].isnull().any())

Max perimeter_mean:  188.5
Min perimeter_mean:  43.79
Null Values in perimeter_mean:  False


Max perimeter_se:  21.98
Min perimeter_se:  0.757
Null Values in perimeter_se:  False


Max perimeter_worst:  251.2
Min perimeter_worst:  50.41
Null Values in perimeter_worst:  False

In [20]:
# Quartiles
print('Quantiles for perimeter_mean')
print('1º Quartile: ', perimeter['perimeter_mean'].quantile(q = 0.25))
print('2º Quartile: ', perimeter['perimeter_mean'].quantile(q = 0.50))
print('3º Quartile: ', perimeter['perimeter_mean'].quantile(q = 0.75))
print('4º Quartile: ', perimeter['perimeter_mean'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', perimeter['perimeter_mean'].quantile(q = 0.75) + 
                      1.5*(perimeter['perimeter_mean'].quantile(q = 0.75) - perimeter['perimeter_mean'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for perimeter_se')
print('1º Quartile: ', perimeter['perimeter_se'].quantile(q = 0.25))
print('2º Quartile: ', perimeter['perimeter_se'].quantile(q = 0.50))
print('3º Quartile: ', perimeter['perimeter_se'].quantile(q = 0.75))
print('4º Quartile: ', perimeter['perimeter_se'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', perimeter['perimeter_se'].quantile(q = 0.75) + 
                      1.5*(perimeter['perimeter_se'].quantile(q = 0.75) - perimeter['perimeter_se'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for perimeter_worst')
print('1º Quartile: ', perimeter['perimeter_worst'].quantile(q = 0.25))
print('2º Quartile: ', perimeter['perimeter_worst'].quantile(q = 0.50))
print('3º Quartile: ', perimeter['perimeter_worst'].quantile(q = 0.75))
print('4º Quartile: ', perimeter['perimeter_worst'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', perimeter['perimeter_worst'].quantile(q = 0.75) + 
                      1.5*(perimeter['perimeter_worst'].quantile(q = 0.75) - perimeter['perimeter_worst'].quantile(q = 0.25)), 'are outliers')

Quantiles for perimeter_mean
1º Quartile:  75.17
2º Quartile:  86.24
3º Quartile:  104.1
4º Quartile:  188.5
Above:  147.49499999999998 are outliers


Quantiles for perimeter_se
1º Quartile:  1.6059999999999999
2º Quartile:  2.287
3º Quartile:  3.3569999999999998
4º Quartile:  21.98
Above:  5.983499999999999 are outliers


Quantiles for perimeter_worst
1º Quartile:  84.11
2º Quartile:  97.66
3º Quartile:  125.4
4º Quartile:  251.2
Above:  187.335 are outliers

In [0]:
#1º Quartile:  75.17
#2º Quartile:  86.24
#3º Quartile:  104.1
#4º Quartile:  188.5
#Above:  147.49499999999998 are outliers
#Max is 188.5
#Class 1- 25% lies below 75.17
#Class-2- 50% lies between 75.17 and 104.1
#Class-3- Rest 25% lies between 104.1 and 147.49
#Class-4- Above age 147.49 are outliers

def perimeter_mean(dataframe):
    dataframe.loc[dataframe['perimeter_mean'] <= 75.17, 'perimeter_mean'] = 1
    dataframe.loc[(dataframe['perimeter_mean'] > 75.17) & (dataframe['perimeter_mean'] <= 104.1), 'perimeter_mean'] = 2
    dataframe.loc[(dataframe['perimeter_mean'] > 104.1) & (dataframe['perimeter_mean'] <= 147.49), 'perimeter_mean'] = 3
    dataframe.loc[(dataframe['perimeter_mean'] > 147.49) & (dataframe['perimeter_mean'] <= 188.5), 'perimeter_mean'] = 4
           
    return dataframe
perimeter_mean(perimeter);

In [0]:
#1º Quartile:  84.11
#2º Quartile:  97.66
#3º Quartile:  125.4
#4º Quartile:  251.2
#Above:  187.335 are outliers
#Max is 251.2
#Class 1- 25% lies below 84.11
#Class-2- 50% lies between 84.11 and 125.4
#Class-3- Lies between 125.4 and 187.335
#Class-4- Above age 187.355 are outliers

def perimeter_worst(dataframe):
    dataframe.loc[dataframe['perimeter_worst'] <= 84.11, 'perimeter_worst'] = 1
    dataframe.loc[(dataframe['perimeter_worst'] > 84.11) & (dataframe['perimeter_worst'] <= 125.4), 'perimeter_worst'] = 2
    dataframe.loc[(dataframe['perimeter_worst'] > 125.4) & (dataframe['perimeter_worst'] <= 187.335), 'perimeter_worst'] = 3
    dataframe.loc[(dataframe['perimeter_worst'] > 187.335) & (dataframe['perimeter_worst'] <= 251.2), 'perimeter_worst'] = 4
           
    return dataframe
perimeter_worst(perimeter);

In [23]:
perimeter.head()

   perimeter_mean  perimeter_se  perimeter_worst
0             3.0         8.589              3.0
1             3.0         3.398              3.0
2             3.0         4.585              3.0
3             2.0         3.445              2.0
4             3.0         5.438              3.0

In [24]:
area = can_data.iloc[: , [5,15,25]]
area.head()

   area_mean  area_se  area_worst
0     1001.0   153.40      2019.0
1     1326.0    74.08      1956.0
2     1203.0    94.03      1709.0
3      386.1    27.23       567.7
4     1297.0    94.44      1575.0

In [25]:
print('Max area_mean: ', area['area_mean'].max())
print('Min area_mean: ', area['area_mean'].min())
print('Null Values in area_mean: ', area['area_mean'].isnull().any())
print('\n')
print('Max area_se: ', area['area_se'].max())
print('Min area_se: ', area['area_se'].min())
print('Null Values in area_se: ', area['area_se'].isnull().any())
print('\n')
print('Max area_worst: ', area['area_worst'].max())
print('Min area_worst: ', area['area_worst'].min())
print('Null Values in area_worst: ', area['area_worst'].isnull().any())

Max area_mean:  2501.0
Min area_mean:  143.5
Null Values in area_mean:  False


Max area_se:  542.2
Min area_se:  6.8020000000000005
Null Values in area_se:  False


Max area_worst:  4254.0
Min area_worst:  185.2
Null Values in area_worst:  False

In [26]:
# Quartiles
print('Quantiles for area_mean')
print('1º Quartile: ', area['area_mean'].quantile(q = 0.25))
print('2º Quartile: ', area['area_mean'].quantile(q = 0.50))
print('3º Quartile: ', area['area_mean'].quantile(q = 0.75))
print('4º Quartile: ', area['area_mean'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', area['area_mean'].quantile(q = 0.75) + 
                      1.5*(area['area_mean'].quantile(q = 0.75) - area['area_mean'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for area_se')
print('1º Quartile: ', area['area_se'].quantile(q = 0.25))
print('2º Quartile: ', area['area_se'].quantile(q = 0.50))
print('3º Quartile: ', area['area_se'].quantile(q = 0.75))
print('4º Quartile: ', area['area_se'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', area['area_se'].quantile(q = 0.75) + 
                      1.5*(area['area_se'].quantile(q = 0.75) - area['area_se'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for area_worst')
print('1º Quartile: ', area['area_worst'].quantile(q = 0.25))
print('2º Quartile: ', area['area_worst'].quantile(q = 0.50))
print('3º Quartile: ', area['area_worst'].quantile(q = 0.75))
print('4º Quartile: ', area['area_worst'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', area['area_worst'].quantile(q = 0.75) + 
                      1.5*(area['area_worst'].quantile(q = 0.75) - area['area_worst'].quantile(q = 0.25)), 'are outliers')

Quantiles for area_mean
1º Quartile:  420.3
2º Quartile:  551.1
3º Quartile:  782.7
4º Quartile:  2501.0
Above:  1326.3000000000002 are outliers


Quantiles for area_se
1º Quartile:  17.85
2º Quartile:  24.53
3º Quartile:  45.19
4º Quartile:  542.2
Above:  86.19999999999999 are outliers


Quantiles for area_worst
1º Quartile:  515.3
2º Quartile:  686.5
3º Quartile:  1084.0
4º Quartile:  4254.0
Above:  1937.0500000000002 are outliers

In [0]:
#1º Quartile:  420.3
#2º Quartile:  551.1
#3º Quartile:  782.7
#4º Quartile:  2501.0
#Above:  1326.3000000000002 are outliers
#Max is 2501
#Class 1- 25% lies below 420.3
#Class-2- 50% lies between 420.3 and 782.7
#Class-3- Rest 25% lies between 782.7 and 1326.30
#Class-4- Above age 1326.30 are outliers

def area_mean(dataframe):
    dataframe.loc[dataframe['area_mean'] <= 420.3, 'area_mean'] = 1
    dataframe.loc[(dataframe['area_mean'] > 420.3) & (dataframe['area_mean'] <= 782.7), 'area_mean'] = 2
    dataframe.loc[(dataframe['area_mean'] > 782.7) & (dataframe['area_mean'] <= 1326.30), 'area_mean'] = 3
    dataframe.loc[(dataframe['area_mean'] > 1326.30) & (dataframe['area_mean'] <= 2501), 'area_mean'] = 4
           
    return dataframe
area_mean(area);

In [0]:
#1º Quartile:  515.3
#2º Quartile:  686.5
#3º Quartile:  1084.0
#4º Quartile:  4254.0
#Above:  1937.0500000000002 are outliers
#Max is 4254
#Class 1- 25% lies below 515.3
#Class-2- 50% lies between 515.3 and 1084
#Class-3- Lies between 1084 and 1937.05
#Class-4- Above age 1937.05 are outliers

def area_worst(dataframe):
    dataframe.loc[dataframe['area_worst'] <= 515.3, 'area_worst'] = 1
    dataframe.loc[(dataframe['area_worst'] > 515.3) & (dataframe['area_worst'] <= 1084), 'area_worst'] = 2
    dataframe.loc[(dataframe['area_worst'] > 1084) & (dataframe['area_worst'] <= 1937.05), 'area_worst'] = 3
    dataframe.loc[(dataframe['area_worst'] > 1937.05) & (dataframe['area_worst'] <= 4254), 'area_worst'] = 4
           
    return dataframe
area_worst(area);

In [29]:
area.head()

   area_mean  area_se  area_worst
0        3.0   153.40         4.0
1        3.0    74.08         4.0
2        3.0    94.03         3.0
3        1.0    27.23         2.0
4        3.0    94.44         3.0

In [30]:
smoothness = can_data.iloc[: , [6,16,26]]
smoothness.head()

   smoothness_mean  smoothness_se  smoothness_worst
0          0.11840       0.006399            0.1622
1          0.08474       0.005225            0.1238
2          0.10960       0.006150            0.1444
3          0.14250       0.009110            0.2098
4          0.10030       0.011490            0.1374

In [31]:
print('Max smoothness_mean: ', smoothness['smoothness_mean'].max())
print('Min smoothness_mean: ', smoothness['smoothness_mean'].min())
print('Null Values in smoothness_mean: ', smoothness['smoothness_mean'].isnull().any())
print('\n')
print('Max smoothness_se: ', smoothness['smoothness_se'].max())
print('Min smoothness_se: ', smoothness['smoothness_se'].min())
print('Null Values in smoothness_se: ', smoothness['smoothness_se'].isnull().any())
print('\n')
print('Max smoothness_worst: ', smoothness['smoothness_worst'].max())
print('Min smoothness_worst: ', smoothness['smoothness_worst'].min())
print('Null Values in smoothness_worst: ', smoothness['smoothness_worst'].isnull().any())

Max smoothness_mean:  0.1634
Min smoothness_mean:  0.052629999999999996
Null Values in smoothness_mean:  False


Max smoothness_se:  0.03113
Min smoothness_se:  0.001713
Null Values in smoothness_se:  False


Max smoothness_worst:  0.2226
Min smoothness_worst:  0.07117000000000001
Null Values in smoothness_worst:  False

In [32]:
# Quartiles
print('Quantiles for smoothness_mean')
print('1º Quartile: ', smoothness['smoothness_mean'].quantile(q = 0.25))
print('2º Quartile: ', smoothness['smoothness_mean'].quantile(q = 0.50))
print('3º Quartile: ', smoothness['smoothness_mean'].quantile(q = 0.75))
print('4º Quartile: ', smoothness['smoothness_mean'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', smoothness['smoothness_mean'].quantile(q = 0.75) + 
                      1.5*(smoothness['smoothness_mean'].quantile(q = 0.75) - smoothness['smoothness_mean'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for smoothness_se')
print('1º Quartile: ', smoothness['smoothness_se'].quantile(q = 0.25))
print('2º Quartile: ', smoothness['smoothness_se'].quantile(q = 0.50))
print('3º Quartile: ', smoothness['smoothness_se'].quantile(q = 0.75))
print('4º Quartile: ', smoothness['smoothness_se'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', smoothness['smoothness_se'].quantile(q = 0.75) + 
                      1.5*(smoothness['smoothness_se'].quantile(q = 0.75) - smoothness['smoothness_se'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for smoothness_worst')
print('1º Quartile: ', smoothness['smoothness_worst'].quantile(q = 0.25))
print('2º Quartile: ', smoothness['smoothness_worst'].quantile(q = 0.50))
print('3º Quartile: ', smoothness['smoothness_worst'].quantile(q = 0.75))
print('4º Quartile: ', smoothness['smoothness_worst'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', smoothness['smoothness_worst'].quantile(q = 0.75) + 
                      1.5*(smoothness['smoothness_worst'].quantile(q = 0.75) - smoothness['smoothness_worst'].quantile(q = 0.25)), 'are outliers')

Quantiles for smoothness_mean
1º Quartile:  0.08637
2º Quartile:  0.09587000000000001
3º Quartile:  0.1053
4º Quartile:  0.1634
Above:  0.133695 are outliers


Quantiles for smoothness_se
1º Quartile:  0.005169
2º Quartile:  0.006379999999999999
3º Quartile:  0.008145999999999999
4º Quartile:  0.03113
Above:  0.012611499999999998 are outliers


Quantiles for smoothness_worst
1º Quartile:  0.1166
2º Quartile:  0.1313
3º Quartile:  0.146
4º Quartile:  0.2226
Above:  0.1901 are outliers

In [33]:
compactness = can_data.iloc[: , [7,17,27]]
compactness.head()

   compactness_mean  compactness_se  compactness_worst
0           0.27760         0.04904             0.6656
1           0.07864         0.01308             0.1866
2           0.15990         0.04006             0.4245
3           0.28390         0.07458             0.8663
4           0.13280         0.02461             0.2050

In [34]:
print('Max compactness_mean: ', compactness['compactness_mean'].max())
print('Min compactness_mean: ', compactness['compactness_mean'].min())
print('Null Values in compactness_mean: ', compactness['compactness_mean'].isnull().any())
print('\n')
print('Max compactness_se: ', compactness['compactness_se'].max())
print('Min compactness_se: ', compactness['compactness_se'].min())
print('Null Values in compactness_se: ', compactness['compactness_se'].isnull().any())
print('\n')
print('Max compactness_worst: ', compactness['compactness_worst'].max())
print('Min compactness_worst: ', compactness['compactness_worst'].min())
print('Null Values in compactness_worst: ', compactness['compactness_worst'].isnull().any())

Max compactness_mean:  0.3454
Min compactness_mean:  0.01938
Null Values in compactness_mean:  False


Max compactness_se:  0.1354
Min compactness_se:  0.002252
Null Values in compactness_se:  False


Max compactness_worst:  1.058
Min compactness_worst:  0.02729
Null Values in compactness_worst:  False

In [35]:
# Quartiles
print('Quantiles for compactness_mean')
print('1º Quartile: ', compactness['compactness_mean'].quantile(q = 0.25))
print('2º Quartile: ', compactness['compactness_mean'].quantile(q = 0.50))
print('3º Quartile: ', compactness['compactness_mean'].quantile(q = 0.75))
print('4º Quartile: ', compactness['compactness_mean'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', compactness['compactness_mean'].quantile(q = 0.75) + 
                      1.5*(compactness['compactness_mean'].quantile(q = 0.75) - compactness['compactness_mean'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for compactness_se')
print('1º Quartile: ', compactness['compactness_se'].quantile(q = 0.25))
print('2º Quartile: ', compactness['compactness_se'].quantile(q = 0.50))
print('3º Quartile: ', compactness['compactness_se'].quantile(q = 0.75))
print('4º Quartile: ', compactness['compactness_se'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', compactness['compactness_se'].quantile(q = 0.75) + 
                      1.5*(compactness['compactness_se'].quantile(q = 0.75) - compactness['compactness_se'].quantile(q = 0.25)), 'are outliers')
print('\n')
print('Quantiles for compactness_worst')
print('1º Quartile: ', compactness['compactness_worst'].quantile(q = 0.25))
print('2º Quartile: ', compactness['compactness_worst'].quantile(q = 0.50))
print('3º Quartile: ', compactness['compactness_worst'].quantile(q = 0.75))
print('4º Quartile: ', compactness['compactness_worst'].quantile(q = 1.00))
#Calculate the outliers:
  # Interquartile range, IQR = Q3 - Q1
  # lower 1.5*IQR whisker = Q1 - 1.5 * IQR 
  # Upper 1.5*IQR whisker = Q3 + 1.5 * IQR
    
print('Above: ', compactness['compactness_worst'].quantile(q = 0.75) + 
                      1.5*(compactness['compactness_worst'].quantile(q = 0.75) - compactness['compactness_worst'].quantile(q = 0.25)), 'are outliers')

Quantiles for compactness_mean
1º Quartile:  0.06492
2º Quartile:  0.09262999999999999
3º Quartile:  0.1304
4º Quartile:  0.3454
Above:  0.22861999999999996 are outliers


Quantiles for compactness_se
1º Quartile:  0.013080000000000001
2º Quartile:  0.02045
3º Quartile:  0.03245
4º Quartile:  0.1354
Above:  0.061505 are outliers


Quantiles for compactness_worst
1º Quartile:  0.1472
2º Quartile:  0.2119
3º Quartile:  0.3391
4º Quartile:  1.058
Above:  0.6269500000000001 are outliers

In [36]:
concavity = can_data.iloc[: , [8,18,28]]
concavity.head()

   concavity_mean  concavity_se  concavity_worst
0          0.3001       0.05373           0.7119
1          0.0869       0.01860           0.2416
2          0.1974       0.03832           0.4504
3          0.2414       0.05661           0.6869
4          0.1980       0.05688           0.4000

In [37]:
concave_points = can_data.iloc[: , [9,19,29]]
concave_points.head()

   concave points_mean  concave points_se  concave points_worst
0              0.14710            0.01587                0.2654
1              0.07017            0.01340                0.1860
2              0.12790            0.02058                0.2430
3              0.10520            0.01867                0.2575
4              0.10430            0.01885                0.1625

In [38]:
symmetry = can_data.iloc[: , [10,20,30]]
symmetry.head()

   symmetry_mean  symmetry_se  symmetry_worst
0         0.2419      0.03003          0.4601
1         0.1812      0.01389          0.2750
2         0.2069      0.02250          0.3613
3         0.2597      0.05963          0.6638
4         0.1809      0.01756          0.2364

In [39]:
fractal_dim = can_data.iloc[: , [11,21,31]]
fractal_dim.head()

   fractal_dimension_mean  fractal_dimension_se  fractal_dimension_worst
0                 0.07871              0.006193                  0.11890
1                 0.05667              0.003532                  0.08902
2                 0.05999              0.004571                  0.08758
3                 0.09744              0.009208                  0.17300
4                 0.05883              0.005115                  0.07678

In [40]:
final= pd.concat([radius,texture,perimeter,area,smoothness,compactness,concavity,concave_points,symmetry,fractal_dim], axis = 1)
final.shape

(569, 30)

In [41]:
final.head()

   radius_mean  radius_se  ...  fractal_dimension_se  fractal_dimension_worst
0          3.0     1.0950  ...              0.006193                  0.11890
1          3.0     0.5435  ...              0.003532                  0.08902
2          3.0     0.7456  ...              0.004571                  0.08758
3          1.0     0.4956  ...              0.009208                  0.17300
4          3.0     0.7572  ...              0.005115                  0.07678

[5 rows x 30 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(final, y, test_size = 0.2)

from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix, accuracy_score
k_fold = KFold(n_splits=20, shuffle=True, random_state=0)

In [43]:
pd.value_counts(y_train['M'])

0    290
1    165
Name: M, dtype: int64

In [0]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=100,ratio=1,k_neighbors=12,m_neighbors=17)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train)

In [45]:
pd.value_counts(y_train_res)

1    290
0    290
dtype: int64

In [0]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train_res)
X_test = sc_X.transform(X_test)

In [47]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression() 
logmodel.fit(X_train,y_train_res)
logpred = logmodel.predict(X_test)


print(confusion_matrix(y_test, logpred))
print(round(accuracy_score(y_test, logpred),2)*100)

[[67  0]
 [ 2 45]]
98.0

In [0]:
from sklearn.metrics import classification_report

In [49]:
print('Confusion Matrix\n', confusion_matrix(y_test, logpred))

Confusion Matrix
 [[67  0]
 [ 2 45]]

In [50]:
print('Reports\n',classification_report(y_test, logpred))

Reports
               precision    recall  f1-score   support

           0       0.97      1.00      0.99        67
           1       1.00      0.96      0.98        47

    accuracy                           0.98       114
   macro avg       0.99      0.98      0.98       114
weighted avg       0.98      0.98      0.98       114

In [51]:
from sklearn.naive_bayes import BernoulliNB
bernoullinb= BernoulliNB()
bernoullinb.fit(X_train, y_train_res)
bernoullinbpred = bernoullinb.predict(X_test)
probs = bernoullinb.predict(X_test)

print(confusion_matrix(y_test, bernoullinbpred ))
print(round(accuracy_score(y_test, bernoullinbpred),2)*100)

[[64  3]
 [ 6 41]]
92.0

In [52]:
print('Reports\n',classification_report(y_test, bernoullinbpred))

Reports
               precision    recall  f1-score   support

           0       0.91      0.96      0.93        67
           1       0.93      0.87      0.90        47

    accuracy                           0.92       114
   macro avg       0.92      0.91      0.92       114
weighted avg       0.92      0.92      0.92       114

In [53]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(criterion='gini')
dtree.fit(X_train, y_train_res)
dtreepred = dtree.predict(X_test)

print(confusion_matrix(y_test, dtreepred))
print(round(accuracy_score(y_test, dtreepred),2)*100)

[[62  5]
 [ 6 41]]
90.0

In [54]:
print('Reports\n',classification_report(y_test, dtreepred))

Reports
               precision    recall  f1-score   support

           0       0.91      0.93      0.92        67
           1       0.89      0.87      0.88        47

    accuracy                           0.90       114
   macro avg       0.90      0.90      0.90       114
weighted avg       0.90      0.90      0.90       114

In [58]:
from sklearn.svm import SVC
svc= SVC()
svc.fit(X_train, y_train_res)
svcpred = svc.predict(X_test)
print(confusion_matrix(y_test, svcpred))
print(round(accuracy_score(y_test, svcpred),2)*100)

[[67  0]
 [ 2 45]]
98.0

In [59]:
print('Reports\n',classification_report(y_test, svcpred))

Reports
               precision    recall  f1-score   support

           0       0.97      1.00      0.99        67
           1       1.00      0.96      0.98        47

    accuracy                           0.98       114
   macro avg       0.99      0.98      0.98       114
weighted avg       0.98      0.98      0.98       114